[submodule "JSSoft.Library"]
	path = JSSoft.Library
	url = ../../s2quake/JSSoft.Library.git
[submodule "JSSoft.Library.Commands"]
	path = JSSoft.Library.Commands
	url = ../../s2quake/JSSoft.Library.Commands.git
