[submodule "Ntreev.Library"]
	path = Ntreev.Library
	url = https://github.com/s2quake/Ntreev.Library.git
[submodule "Ntreev.Library.Commands"]
	path = Ntreev.Library.Commands
	url = https://github.com/s2quake/CommandLineParser.git
